<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fengzhuo.tudou.ms.persistence.OrgTeamMapper">
  <resultMap id="BaseResultMap" type="com.fengzhuo.tudou.ms.domain.OrgTeam">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="team_name" jdbcType="VARCHAR" property="teamName" />
    <result column="team_no" jdbcType="VARCHAR" property="teamNo" />
    <result column="team_key" jdbcType="VARCHAR" property="teamKey" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="ips" jdbcType="VARCHAR" property="ips" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, team_name, team_no, team_key, create_time, ips
  </sql>
  <select id="selectByExample" parameterType="com.fengzhuo.tudou.ms.domain.OrgTeamExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from ms_org_team
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from ms_org_team
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from ms_org_team
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.fengzhuo.tudou.ms.domain.OrgTeamExample">
    delete from ms_org_team
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.fengzhuo.tudou.ms.domain.OrgTeam">
    insert into ms_org_team (id, team_name, team_no, 
      team_key, create_time, ips
      )
    values (#{id,jdbcType=BIGINT}, #{teamName,jdbcType=VARCHAR}, #{teamNo,jdbcType=VARCHAR}, 
      #{teamKey,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{ips,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.fengzhuo.tudou.ms.domain.OrgTeam">
    insert into ms_org_team
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="teamName != null">
        team_name,
      </if>
      <if test="teamNo != null">
        team_no,
      </if>
      <if test="teamKey != null">
        team_key,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="ips != null">
        ips,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="teamName != null">
        #{teamName,jdbcType=VARCHAR},
      </if>
      <if test="teamNo != null">
        #{teamNo,jdbcType=VARCHAR},
      </if>
      <if test="teamKey != null">
        #{teamKey,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="ips != null">
        #{ips,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.fengzhuo.tudou.ms.domain.OrgTeamExample" resultType="java.lang.Long">
    select count(*) from ms_org_team
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update ms_org_team
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.teamName != null">
        team_name = #{record.teamName,jdbcType=VARCHAR},
      </if>
      <if test="record.teamNo != null">
        team_no = #{record.teamNo,jdbcType=VARCHAR},
      </if>
      <if test="record.teamKey != null">
        team_key = #{record.teamKey,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.ips != null">
        ips = #{record.ips,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update ms_org_team
    set id = #{record.id,jdbcType=BIGINT},
      team_name = #{record.teamName,jdbcType=VARCHAR},
      team_no = #{record.teamNo,jdbcType=VARCHAR},
      team_key = #{record.teamKey,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      ips = #{record.ips,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.fengzhuo.tudou.ms.domain.OrgTeam">
    update ms_org_team
    <set>
      <if test="teamName != null">
        team_name = #{teamName,jdbcType=VARCHAR},
      </if>
      <if test="teamNo != null">
        team_no = #{teamNo,jdbcType=VARCHAR},
      </if>
      <if test="teamKey != null">
        team_key = #{teamKey,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="ips != null">
        ips = #{ips,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.fengzhuo.tudou.ms.domain.OrgTeam">
    update ms_org_team
    set team_name = #{teamName,jdbcType=VARCHAR},
      team_no = #{teamNo,jdbcType=VARCHAR},
      team_key = #{teamKey,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      ips = #{ips,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>

  <select id="getTeamByNo" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from ms_org_team
    where team_no = #{teamNo,jdbcType=VARCHAR}
  </select>
</mapper>