<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fengzhuo.tudou.ms.persistence.StrategyMapper">
  <resultMap id="BaseResultMap" type="com.fengzhuo.tudou.ms.domain.Strategy">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="descript" jdbcType="VARCHAR" property="descript" />
    <result column="state" jdbcType="VARCHAR" property="state" />
    <result column="sign" jdbcType="VARCHAR" property="sign" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="formula" jdbcType="VARCHAR" property="formula" />
    <result column="score" jdbcType="DECIMAL" property="score" />
    <result column="seq" jdbcType="INTEGER" property="seq" />
    <result column="impl" jdbcType="VARCHAR" property="impl" />
    <result column="add_time" jdbcType="TIMESTAMP" property="addTime" />
    <result column="op" jdbcType="VARCHAR" property="op" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, descript, state, sign, type, formula, score, seq, impl, add_time, op
  </sql>
  <select id="selectByExample" parameterType="com.fengzhuo.tudou.ms.domain.StrategyExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from ms_strategy
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from ms_strategy
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from ms_strategy
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.fengzhuo.tudou.ms.domain.StrategyExample">
    delete from ms_strategy
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.fengzhuo.tudou.ms.domain.Strategy">
    insert into ms_strategy (id, descript, state, 
      sign, type, formula, 
      score, seq, impl, add_time, 
      op)
    values (#{id,jdbcType=BIGINT}, #{descript,jdbcType=VARCHAR}, #{state,jdbcType=VARCHAR}, 
      #{sign,jdbcType=VARCHAR}, #{type,jdbcType=VARCHAR}, #{formula,jdbcType=VARCHAR}, 
      #{score,jdbcType=DECIMAL}, #{seq,jdbcType=INTEGER}, #{impl,jdbcType=VARCHAR}, #{addTime,jdbcType=TIMESTAMP}, 
      #{op,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.fengzhuo.tudou.ms.domain.Strategy">
    insert into ms_strategy
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="descript != null">
        descript,
      </if>
      <if test="state != null">
        state,
      </if>
      <if test="sign != null">
        sign,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="formula != null">
        formula,
      </if>
      <if test="score != null">
        score,
      </if>
      <if test="seq != null">
        seq,
      </if>
      <if test="impl != null">
        impl,
      </if>
      <if test="addTime != null">
        add_time,
      </if>
      <if test="op != null">
        op,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="descript != null">
        #{descript,jdbcType=VARCHAR},
      </if>
      <if test="state != null">
        #{state,jdbcType=VARCHAR},
      </if>
      <if test="sign != null">
        #{sign,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="formula != null">
        #{formula,jdbcType=VARCHAR},
      </if>
      <if test="score != null">
        #{score,jdbcType=DECIMAL},
      </if>
      <if test="seq != null">
        #{seq,jdbcType=INTEGER},
      </if>
      <if test="impl != null">
        #{impl,jdbcType=VARCHAR},
      </if>
      <if test="addTime != null">
        #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="op != null">
        #{op,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.fengzhuo.tudou.ms.domain.StrategyExample" resultType="java.lang.Long">
    select count(*) from ms_strategy
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update ms_strategy
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.descript != null">
        descript = #{record.descript,jdbcType=VARCHAR},
      </if>
      <if test="record.state != null">
        state = #{record.state,jdbcType=VARCHAR},
      </if>
      <if test="record.sign != null">
        sign = #{record.sign,jdbcType=VARCHAR},
      </if>
      <if test="record.type != null">
        type = #{record.type,jdbcType=VARCHAR},
      </if>
      <if test="record.formula != null">
        formula = #{record.formula,jdbcType=VARCHAR},
      </if>
      <if test="record.score != null">
        score = #{record.score,jdbcType=DECIMAL},
      </if>
      <if test="record.seq != null">
        seq = #{record.seq,jdbcType=INTEGER},
      </if>
      <if test="record.impl != null">
        impl = #{record.impl,jdbcType=VARCHAR},
      </if>
      <if test="record.addTime != null">
        add_time = #{record.addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.op != null">
        op = #{record.op,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update ms_strategy
    set id = #{record.id,jdbcType=BIGINT},
      descript = #{record.descript,jdbcType=VARCHAR},
      state = #{record.state,jdbcType=VARCHAR},
      sign = #{record.sign,jdbcType=VARCHAR},
      type = #{record.type,jdbcType=VARCHAR},
      formula = #{record.formula,jdbcType=VARCHAR},
      score = #{record.score,jdbcType=DECIMAL},
      seq = #{record.seq,jdbcType=INTEGER},
      impl = #{record.impl,jdbcType=VARCHAR},
      add_time = #{record.addTime,jdbcType=TIMESTAMP},
      op = #{record.op,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.fengzhuo.tudou.ms.domain.Strategy">
    update ms_strategy
    <set>
      <if test="descript != null">
        descript = #{descript,jdbcType=VARCHAR},
      </if>
      <if test="state != null">
        state = #{state,jdbcType=VARCHAR},
      </if>
      <if test="sign != null">
        sign = #{sign,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="formula != null">
        formula = #{formula,jdbcType=VARCHAR},
      </if>
      <if test="score != null">
        score = #{score,jdbcType=DECIMAL},
      </if>
      <if test="seq != null">
        seq = #{seq,jdbcType=INTEGER},
      </if>
      <if test="impl != null">
        impl = #{impl,jdbcType=VARCHAR},
      </if>
      <if test="addTime != null">
        add_time = #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="op != null">
        op = #{op,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.fengzhuo.tudou.ms.domain.Strategy">
    update ms_strategy
    set descript = #{descript,jdbcType=VARCHAR},
      state = #{state,jdbcType=VARCHAR},
      sign = #{sign,jdbcType=VARCHAR},
      type = #{type,jdbcType=VARCHAR},
      formula = #{formula,jdbcType=VARCHAR},
      score = #{score,jdbcType=DECIMAL},
      seq = #{seq,jdbcType=INTEGER},
      impl = #{impl,jdbcType=VARCHAR},
      add_time = #{addTime,jdbcType=TIMESTAMP},
      op = #{op,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>

  <select id="queryList" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from ms_strategy
    where state = 10
    ORDER BY seq
  </select>
</mapper>